<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="navigation">
      <h2 data-cy="navigationDetailsHeading"><span jhiTranslate="banbeisBlogApp.navigation.detail.title">Navigation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ navigation.id }}</span>
        </dd>
        <dt><span jhiTranslate="banbeisBlogApp.navigation.title">Title</span></dt>
        <dd>
          <span>{{ navigation.title }}</span>
        </dd>
        <dt><span jhiTranslate="banbeisBlogApp.navigation.icon">Icon</span></dt>
        <dd>
          <span>{{ navigation.icon }}</span>
        </dd>
        <dt><span jhiTranslate="banbeisBlogApp.navigation.route">Route</span></dt>
        <dd>
          <span>{{ navigation.route }}</span>
        </dd>
        <dt><span jhiTranslate="banbeisBlogApp.navigation.roles">Roles</span></dt>
        <dd>
          <span>{{ navigation.roles }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/navigation', navigation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
